@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=PT+Mono&display=swap');

* {
    box-sizing: border-box;
}

.pagina {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(0, 212, 255, 1) 100%);
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    font-family: Karla, sans-serif;
    /* adiciona box-sizing: border-box; */
}

.cabecalho {
    background-color: white;
    width: 100vw;
    text-align: center;
    height: 100px;
}

.container {
    margin-top: 4%;
}

.container__calculadora {
    width: 400px;
    height: 600px;
    box-sizing: content-box;
    border: 2px solid rgba(0, 0, 0, 0.418);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: white;
}

.container__input {
    margin-top: 30px;
    align-items: center;
    outline: 0px;
}

#input__calculadora {
    width: 300px;
    height: 60px;
    border: 0px;
    font-size: 2.5em;
}

.container__operadores {
    display: flex;
    flex-direction: row;
    gap: 20px;
    user-select: none;
}

.operadores {
    height: 70px;
    width: 60px;
    background-color: gray;
    cursor: pointer;
    text-align: center;
    border: 0px;
    padding: 0px;
    font-size: 50px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operadores:hover {
    background-color: rgb(181, 181, 181);
}

.operadores:active {
    background-color: rgb(77, 76, 76);
}

.subtracao {
    padding-bottom: 10px;
}

.multiplicacao {
    padding-top: 20px;
}

.container__numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    user-select: none;
}

.tecla {
    background-color: #62A1DB;
    height: 4em;
    width: 6.5em;
    cursor: pointer;
    border: 0px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tecla:hover {
    background-color: #71baff;
}

.tecla:active {
    background-color: #426e96;
}

.painel__numeros {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.igual {
    background-color: #5DD469;
    border: 0px;
    text-align: center;
}

.igual:hover {
    background-color: #6ffb7d
}

.igual:active {
    background-color: #3a8541
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background-color: rgba(124, 123, 123, 0.471);
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}